section.clients
    .clients-container
        .clients__column.clients-header
            h3.clients-header__text Clients
        .clients__column.clients-content
            .clients-content__slider.clients-slider
                .clients-slider__line
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/tauic.svg"), alt="Client")
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/fifa.png"), alt="Client") 
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/tauic.svg"), alt="Client") 
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/talaat.png"), alt="Client") 
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/fifa.png"), alt="Client") 
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/adwea.png"), alt="Client") 
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/talaat.png"), alt="Client") 
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/talaat.png"), alt="Client") 
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/talaat.png"), alt="Client") 
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/talaat.png"), alt="Client") 
                    .clients-slider__card.clients-card
                        img.clients-card__img(src=require("../images/clients/talaat.png"), alt="Client") 
