section.systems
    .container.systems-container
        h3.systems__header Browse Our Systems
        .systems__cards.cards-systems
            .cards-systems__item
                img(src=require("../images/systems/hvac.svg"), alt="HVAC")
                span.cards-systems__header HVAC <br/> Systems
            .cards-systems__item
                img(src=require("../images/systems/plumbing and drainage.svg"), alt="Plumbing & Drainage Systems")
                span.cards-systems__header Plumbing & <br/> Drainage <br/> Systems 
            .cards-systems__item 
                img(src=require("../images/systems/fire protection.svg"), alt="Fire protection Systems")
                span.cards-systems__header Fire protection Systems
            .cards-systems__item 
                img(src=require("../images/systems/electrical.svg"), alt="Electrical Systems")
                span.cards-systems__header Electrical Systems
            .cards-systems__item    
                img(src=require("../images/systems/infrastructure.svg"), alt="Infrastructure Systems")
                span.cards-systems__header Infrastructure Systems