section.systems
    .container.systems-container
        h3.systems__header Browse Our Systems
        .systems__cards.cards-systems
            .cards-systems__item.system-card
                .system-card__img 
                    img(src=require("../images/systems/hvac.svg"), alt="HVAC")
                .system-card__header
                    span.cards-systems__header HVAC Systems
            .cards-systems__item.system-card
                .system-card__img 
                    img(src=require("../images/systems/plumbing and drainage.svg"), alt="Plumbing & Drainage Systems")
                .system-card__header
                    span.cards-systems__header Plumbing & Drainage Systems 
            .cards-systems__item.system-card
                .system-card__img 
                    img(src=require("../images/systems/fire protection.svg"), alt="Fire protection Systems")
                .system-card__header
                    span.cards-systems__header Fire protection Systems
            .cards-systems__item.system-card
                .system-card__img 
                    img(src=require("../images/systems/electrical.svg"), alt="Electrical Systems")
                .system-card__header
                    span.cards-systems__header Electrical Systems
            .cards-systems__item.system-card
                .system-card__img    
                    img(src=require("../images/systems/infrastructure.svg"), alt="Infrastructure Systems")
                .system-card__header
                    span.cards-systems__header Infrastructure Systems